NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
APP_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=
PAYMENT_PROVIDER=doku
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
